---
layout: default
---

<div class="page-header">
	<h1>{{ page.title }}</h1>
	<div>
	<small>
		Qiwei Shen &bull; {{ page.date | date:"%Y-%m-%d" }}<div style="display:none"> &bull; 
		<div style="display:inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="category/books.html" itemprop="url">
				<span itemprop="title">{{ page.categories }}</span>
			</a> &bull;
			<a href="category/books.html" itemprop="url">
				<span itemprop="title">{{ page.tags }}</span>
			</a>
		</div>
		</div>
	</small>
	</div>
</div>

<div class="post">
{{ content }}

<br />
<ul class="pager">
	{% if page.previous %}
	<li class="previous"><a href="{{ page.previous.url }}" > 上一篇：{{ page.previous.title | truncate:16}}</a></li>
	{% endif %}
	{% if page.next %}
	<li class="next"><a href="{{ page.next.url }}" > 下一篇：{{ page.next.title | truncate:16 }}</a></li>
	{% endif %}
</ul>
</div>
